header.card-header{
	background-color:#369;
	color:#000;
	text-shadow:1px 1px 20px #fff;
}
.glow{
	text-shadow: 1px -4px 5px yellow;
}
#mobileHack{
	margin:60px;
}
.navbar-dark .navbar-nav .open > .nav-link, .navbar-dark .navbar-nav .open > .nav-link:focus, .navbar-dark .navbar-nav .open > .nav-link:hover, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .active > .nav-link:focus, .navbar-dark .navbar-nav .active > .nav-link:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover{
	color:#FFF3AE;
}
.fc-event{
	background-color:#CDE5FF;
}